@charset "UTF-8";

html{
    font-size: 100%;
}
body{
    font-family: 'Noto Sans KR', sans-serif;
    line-height: 1.7;
    color:#432;
 
}
a{
    text-decoration: none;
}
img{
    max-width: 100%;
}

.logo{
    width: 210px;
    margin-top: 14px;
}

ul{
    list-style: none;
}

.main-nav{
    display: flex;
    font-size: 1.25rem;
    text-transform: uppercase;
    margin-top: 50px;
    list-style: none;
}

.main-nav li{
    margin-left: 36px;
}

.main-nav a{
    color: #432;
}

.main-nav a:hover{
    color: #0bd;
}
.page-header{
    display: flex;
    justify-content: space-between;
}

.wrapper{
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 4%;
}

/*home */
.home-content{
    text-align: center;
    margin-top: 10%;
    
}

.home-content p{
    font-size: 1.125rem;
    margin: 10px 0 42px;
}

.page-title{
    font-size: 3rem;
    font-family: 'Song Myung', serif;
    text-transform: uppercase;
    font-weight: bold;
    
}

.big-bg{
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;
}

#home{
   
    background-image: url(/images/winter.png);
    min-height: 100vh;
}


/* News
------------------------------------------------------
*/

#news{
	background-image: url(/images/winter.png);
	min-height: 100vh;
	
	background-color: hsla(0,0%,100%,0.70);
    background-blend-mode: overlay;
    background-repeat: no-repeat;
	
}

#news .page-title{
	text-align: center;
}

#title{
border: 5px groove ; height: auto; padding: 10px;
}

/*
푸터
*/

footer{
	background: #432;
	text-align: center;
	padding:26px 0;
}

footer p{
	color:#fff;
	font-size:0.875rem;
}

/*기사부분*/
article{
	width:74%;
}

/*사이드바*/
aside{
	width:22%;
}

.news-contens{
	display: flex;
	justify-content: space-between;
	margin-bottom:50px;
}
