@charset "UTF-8";

#home-background {
	background-image: url(/images/banner.gif);
	background-repeat: no-repeat;
	/* 	background-position: 20% 80%; */
	background-size: 1980px 750px;

}

.big-bg {
	background-size: cover;
	background-position: center top;
	background-repeat: no-repeat;
}

.home-content {
	text-align: center;
	margin-top: 10%;
}

.home-content p {
	font-size: 1.125rem;
	margin: 10px 0 42px;
}

.page-title {
	font-size: 2rem;
	font-family: 'Song Myung', serif;
	text-transform: uppercase;
	font-weight: bold;
	/* vertical-align: middle; */
}

.banner-anounce {
	width: 500px;
	height: 250px;
	margin: 20px;
	/* position: absolute;
	right:400px;
	top:420px; */
	border: 6px solid white;
	clear: both;
	position:relative;
	bottom: 22.9%;
	left: 53%;
}

.my-blank{
		height: 350px;
		text-align: center;
		opacity: 30%;
}

.rec{
	left: 19%;
	position: relative;
}

.rec-books{
	font-size:1.5em;
	padding:0 8px 8px;
	border-bottom:2px #043763 solid;
	font-weight:normal;
	width: 200px;
}